/**
 * Created wangyanqi
 * Date 2017/11/15
 */

/* 部分公共*/
/*img通用-背景样式*/
.food-public-bg-img{
	background-image: url(../img/logo-gray.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}


/*页头TOP 部分*/

.food-top {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #e8e8e8;
	background: white;
	z-index: 10;
}

.food-content {
	width: 1180px;
	height: auto;
	margin: 0 auto;
	background: #fff;
}

.food-top .food-logo {
	width: 260px;
	height: 80px;
	float: left;
}

.food-top .food-logo .food-logo-img {
	float: left;
	height: 64px;
	margin-top: 8px;
	margin-right: 12px;
}

.food-top .food-logo .food-logo-img img {
	height: 100%;
	display: block;
}

.food-top .food-logo .food-logo-text {
	float: left;
	margin-top: 19px;
}

.food-top .food-logo .food-logo-text p {
	font-size: 12px;
	line-height: 24px;
}

.food-top .food-logo .food-logo-text p font {
	color: #e9220d;
}

.food-top .food-logo .food-logo-text a {
	line-height: 14px;
	font-size: 10px;
	color: #9c9c9c;
	display: block;
}

.food-top .food-logo .food-logo-text a img {
	height: 14px;
	vertical-align: middle
}

.food-top .food-nav {
	float: left;
	line-height: 30px;
	font-size: 15px;
	margin-top: 25px;
	margin-left: 150px;
}

.food-top .food-nav li {
	float: left;
	display: block;
	margin-right: 60px;
	position: relative;
}

.food-top .food-nav li a {
	color: #333333;
}

.food-top .food-nav .food-arrow-down {
	width: 10px;
	height: 30px;
	margin-left: 13px;
	display: block;
	float: right;
	transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	-o-transition: all 100ms linear;
}

.food-top .food-nav .food-arrow-down:after {
	content: " ";
	width: 6px;
	height: 6px;
	display: block;
	border-left: 1px solid #444444;
	border-top: 1px solid #444444;
	margin-top: 13.5px;
	margin-left: 50%;
	transform: translate(-50%, 0) rotate(45deg);
	-ms-transform: translate(-50%, 0) rotate(45deg);
	-moz-transform: translate(-50%, 0) rotate(45deg);
	-webkit-transform: translate(-50%, 0) rotate(45deg);
	-o-transform: translate(-50%, 0) rotate(45deg);
}

.food-top .food-nav li:hover a {
	color: #fb8c00;
}

.food-top .food-nav li:hover a .food-arrow-down {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.food-top .food-nav li:hover a .food-arrow-down:after {
	border-left: 1px solid #fb8c00;
	border-top: 1px solid #fb8c00;
}

.food-top .food-nav li:hover .food-drop-down {
	transform: scale(1, 1);
	border: 1px solid #c8c8c8;
}

.food-top .food-nav .food-drop-down {
	width: 120px;
	height: auto;
	position: absolute;
	top: 30px;
	left: 45px;
	border: 1px solid #c8c8c8;
	padding: 10px;
	background: #fff;
	z-index: 10;
	transform: scale(0, 0);
	transform-origin: center top;
	-ms-transform: scale(0, 0);
	-ms-transform-origin: center top;
	-moz-transform: scale(0, 0);
	-moz-transform-origin: center top;
	-webkit-transform: scale(0, 0);
	-webkit-transform-origin: center top;
	-o-transform: scale(0, 0);
	-o-transform-origin: center top;
	transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	-o-transition: all 100ms linear;
}

.food-top .food-nav .food-drop-down:after {
	content: " ";
	width: 6px;
	height: 6px;
	display: block;
	border: 1px solid #fff;
	border-left: 1px solid #c8c8c8;
	border-top: 1px solid #c8c8c8;
	background: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	-moz-transform: translate(-50%, -50%) rotate(45deg);
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-o-transform: translate(-50%, -50%) rotate(45deg);
}

.food-top .food-nav .food-drop-down img {
	width: 100%;
	display: block;
}

.food-top .food-nav .food-drop-down span {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	color: #666666;
}

.food-top .food-seach,
.food-list .food-list-box .food-input-text {
	width: 170px;
	float: right;
	height: 28px;
	border: 1px solid #343434;
	border-radius: 14px;
	margin-top: 26px;
}

.food-top .food-seach input,
.food-list .food-list-box .food-input-text input {
	width: 120px;
	margin-left: 14px;
	line-height: 28px;
	font-size: 14px;
	color: #626262;
	border: none;
	outline: none;
	float: left;
}

.food-top .food-seach span {
	width: 36px;
	height: 28px;
	float: left;
	display: block;
	background: url(../img/seachMagnifier.png) center;
	background-repeat: no-repeat;
	background-size: 50%;
	cursor: pointer;
}


/*大banner*/

.food-banner {
	width: 100%;
	height: 560px;
	background: #cccccc;
	position: relative;
}

.food-banner .food-banner-img{
	height: 100%;
	background: #fff;
}

.food-banner .food-banner-img img{
	height: 100%;
	display: block;
	margin: 0 auto;
}

.food-banner .food-banne-button{
	width: 1180px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	z-index: 10;
}

.food-banner .food-button-prev{
	float: left;
	margin-left: 20px;
	background-image:url(../img/GardenArrow.png);
}

.food-banner .food-button-next{
	float: right;
	margin-right: 20px;
	background-image:url(../img/GardenArrow.png);
	  transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform:  rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.food-banner .food-button-prev,.food-banner .food-button-next{
    width: 40px;
    height: 40px;
    cursor: pointer;
    -moz-background-size: 40px 40px;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
}




/*大标题*/

.food-content-title {
	height: 178px;
	text-align: center;
	overflow: hidden;
}

.food-content-title p {
	font-size: 12px;
	line-height: 24px;
	color: #bfc2c4;
	margin-top: 40px;
}

.food-content-title h2 {
	font-size: 26px;
	line-height: 52px;
	color: #1d2428;
}

.food-content-title h2 font {
	color: #9ece44;
}

.food-content-title span {
	display: block;
	width: 80px;
	height: 2px;
	margin-top: 22px;
	background: #fb8c00;
	margin-left: 50%;
	transform: translate(-50%);
	-ms-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-o-transform: translate(-50%);
}


/*展示列表*/

.food-list {
	width: 1200px;
	height: auto;
	margin-left: -20px;
	display: block;
}

.food-list a {
	width: 278px;
	height: 300px;
	display: block;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px solid #efefef;
	border-radius: 4px;
}

.food-list .food-list-box {
	width: 250px;
	margin: 15px;
	float: left;
}

.food-list a .food-list-img{
	width: 278px;
	min-height: 186px;
	border-radius: 4px 4px 0 0;
	display: block;
}
.food-list a .food-list-img img{
	width: 100%;
	display: block;
}
.food-list a .food-list-box h3 {
	width: 100%;
	font-size: 18px;
	line-height: 36px;
	display: block;
	float: left;
}

.food-list a .food-list-box h3 span {
	display: block;
	float: right;
	color: #fc9d3f;
	font-weight: 100;
}

.food-list-box-p {
	width: 100%;
	font-size: 12px;
	line-height: 24px;
	float: left;
}

.food-list-box-p font {
	color: #fc9d3f;
}

.food-list-box-p .food-list-notes {
	display: block;
	float: left;
}

.food-list-box-p .food-notes-hover {
	width: 12px;
	height: 24px;
	background: url(../img/notes.png) center;
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
	margin-left: 5px;
	position: relative;
}

.food-list-box-p .food-notes-hover:hover .food-list-notes-text {
	transform: scale(1, 1);
}

.food-list-box-p .food-list-notes .food-list-notes-text {
	width: 100px;
	padding: 10px;
	height: auto;
	position: absolute;
	top: -5px;
	left: 20px;
	border: 1px solid #cecece;
	background: #fff;
	font-size: 12px;
	color: #fc9d3f;
	transform: scale(0, 0);
	transform-origin: left 17px;
	-ms-transform: scale(0, 0);
	-ms-transform-origin: left 17px;
	-moz-transform: scale(0, 0);
	-moz-transform-origin: left 17px;
	-webkit-transform: scale(0, 0);
	-webkit-transform-origin: left 17px;
	-o-transform: scale(0, 0);
	-o-transform-origin: left 17px;
	transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	-o-transition: all 100ms linear;
}

.food-list-box-p .food-list-notes .food-list-notes-text:after {
	content: " ";
	width: 6px;
	height: 6px;
	display: block;
	border: 1px solid #fff;
	border-left: 1px solid #c8c8c8;
	border-top: 1px solid #c8c8c8;
	background: #fff;
	position: absolute;
	top: 12px;
	left: 0;
	transform: translate(-50%) rotate(-45deg);
	-ms-transform: translate(-50%) rotate(-45deg);
	-moz-transform: translate(-50%) rotate(-45deg);
	-webkit-transform: translate(-50%) rotate(-45deg);
	-o-transform: translate(-50%) rotate(-45deg);
}

.food-list-box-p .food-list-notes .food-list-notes-text h4 {
	color: #333333;
}

.food-list .food-list-box h2 {
	font-size: 26px;
}

.food-list .food-list-box .food-input-text {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	overflow: hidden;
}

.food-list .food-list-box .food-input-text input {
	width: 144px;
}

.food-list .food-list-box button {
	border: none;
	margin-top: 20px;
	background: #fc9d3f;
	height: 30px;
	width: 56px;
	float: right;
	border-radius: 15px;
	color: #fff;
	cursor: pointer;
}

.food-list a .food-list-box .food-pen-icon,
.food-list a .food-list-box .food-right-icon {
	width: 230px;
	position: relative;
	padding-left: 20px;
}

.food-list a .food-list-box .food-pen-icon:before {
	background: url("../img/pen-icon.png") center no-repeat;
}

.food-list a .food-list-box .food-right-icon:before {
	background: url("../img/right-icon.png") center no-repeat;
}

.food-list a .food-list-box .food-pen-icon:before,
.food-list a .food-list-box .food-right-icon:before {
	content: " ";
	width: 12px;
	height: 12px;
	background-size: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 6px;
}

.food-list a .food-list-box .food-right-icon {
	color: #9ece44;
}


/*大图区*/

.food-content-BP {
	width: 100%;
	overflow: hidden;
}

.food-content-BP .food-content-BP-iphone {
	width: 455px;
	height: auto;
	margin: 0 100px;
	float: left;
}

.food-content-BP .food-content-BP-iphone img {
	width: 100%;
	display: block;
}

.food-content-BP .food-content-BP-WeChat {
	width: 460px;
	float: left;
	padding-left: 62px;
	margin-top: 35px;
	position: relative;
	color: #1d2428;
}

.food-content-BP .food-content-BP-WeChat:before {
	content: "";
	width: 40px;
	height: 40px;
	background: url("../img/WeChat.png") center no-repeat;
	background-size: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 6px;
}

.food-content-BP .food-content-BP-WeChat h3 {
	font-size: 26px;
	line-height: 52px;
}

.food-content-BP .food-content-BP-WeChat p {
	width: 100%;
	font-size: 16px;
	line-height: 32px;
	display: block;
	float: left;
}

.food-content-BP .food-content-BP-WeChat span {
	margin-top: 30px;
	width: 144px;
	height: 144px;
	display: block;
	float: left;
}

.food-content-BP .food-content-BP-WeChat span img {
	width: 100%;
	display: block;
}

.food-footer {
	width: 100%;
	height: 80px;
	border-top: 1px solid #e8e8e8;
}

.food-footer .food-footer-logo {
	width: 260px;
	height: 64px;
	margin-top: 8px;
	float: left;
}

.food-footer .food-footer-logo img {
	height: 100%;
	display: block;
}

.food-footer .food-footer-text {
	height: 80px;
	line-height: 80px;
	margin-left: 30px;
}


/*classroomlist 小图*/

.food-small-ad {
	width: 100%;
	height: 110px;
	background: #9c9c9c;
	overflow: hidden;
}

.food-small-ad img {
	height: 100%;
	display: block;
}

.food-content-title-two {
	text-align: left;
}

.food-content-title-two span {
	margin-left: 40px;
}


/*菜品分类导航*/

.foot-list-nav {
	width: 100%;
	height: 52px;
	margin-bottom: 30px;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}

.foot-list-nav ul {
	width: 100%;
	height: 32px;
	font-size: 16px;
	line-height: 32px;
	display: block;
}

.foot-list-nav ul li {
	float: left;
	margin-right: 50px;
	cursor: pointer;
}

.foot-list-nav ul li:hover {
	color: #fb8c00;
}


/*翻页*/

.food-flip {
	width: 100%;
	height: 40px;
	margin-bottom: 40px;
	overflow: hidden;
}

.food-flip span {
	display: block;
	float: left;
	width: 38px;
	height: 38px;
	margin-right: 6px;
	border: 1px solid #e9e9e9;
	text-align: center;
	line-height: 38px;
	color: #999999;
	border-radius: 4px;
	font-size: 18px;
}

.food-flip span:hover {
	color: #fff;
	background: #fb8c00;
	border: 1px solid #fb8c00;
}

/*面包屑*/
.food-crumbs{
	width: 100%;
	height: 24px;
	margin: 20px 0;
	line-height: 24px;
	overflow: hidden;
}
.food-crumbs a{
	color: #bfc2c4;
}
.food-crumbs a:hover{
	color: #fb8c00;
}

/*详情*/
.food-details{
	width: 100%;
	height: 462px;
	margin-bottom: 30px;
	overflow: hidden;
}

.food-details img{
	width: 100%;
	display: block;
}

/*左侧图片*/
.food-details .food-detaols-img{
	width: 542px;
	height: 462px;
	float: left;
}

.food-details .food-detaols-img .food-detaols-img-box{
	width: 540px;
	height: 360px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
}

.food-details .food-detaols-img ul{
	width: 552px;
	height: 84px;
	margin-top: 14px;
	margin-left: -10px;
	display: block;
}
.food-details .food-detaols-img ul li{
	width: 126px;
	height: 84px;
	background-color: #eeeeee;
	margin-left: 10px;
	border: 1px solid #e8e8e8;
	display: block;
	float: left;
}

/*详情title*/
.food-detaols-info{
	width: 600px;
	margin-left: 38px;
	height: 462px;
	float: left;
	overflow: hidden;
}

.food-detaols-info .food-detaols-info-title{
	width: 100%;
	height: 130px;
	border-bottom: 1px #e8e8e8 solid;
}

.food-detaols-info .food-detaols-info-title h2{
	line-height: 46px;
	font-size: 26px;
	font-weight: 100;
}

.food-detaols-info .food-detaols-info-title p{
	font-size: 14px;
	line-height: 28px;
}

.food-detaols-info .food-detaols-synopsis{
	margin-top: 10px;
	width: 100%;
	height: auto;
}

.food-detaols-info .food-detaols-synopsis p{
	width: 100%;
	display: block;
	font-size: 14px;
	line-height: 28px;
	overflow: hidden;
}

.food-detaols-info .food-detaols-synopsis p span{
	height: auto;
	display: block;
	float: left;
}

.food-detaols-info .food-detaols-synopsis p span:first-of-type{
	width: 70px;
}

.food-detaols-info .food-detaols-synopsis p span:last-of-type{
	color: #8e8e8e;
	width: 530px;
}

.f14lh28{
	font-size: 14px;
	line-height: 28px;
	height: 28px;
	float: none;
}

.food-detaols-info .food-detaols-buy,.food-detaols-info .food-detaols-study{
	width: 200px;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	border-radius: 4px;
	text-align: center;
	margin: 30px 0;
	cursor: pointer;
}
.food-detaols-info .food-detaols-buy{
	border: 1px solid #c4c3c1;
	background: #ffffff;
	color: #333333;
}
.food-detaols-info .food-detaols-study{
	border: 1px solid #333333;
	background: #333333;
	color: #ffffff;
}

.food-detaols-info .food-activity-cue{
	width: 100%;
	overflow: hidden;
}

.food-detaols-info .food-activity-cue span{
	font-size: 12px;
	line-height: 20px;
	color: #e9220d;
	display: block;
	float: left;
}

.food-detaols-info .food-activity-cue span:first-of-type{
	width: 42px;
	height: 20px;
	border-radius: 4px;
	margin-right: 10px;
	text-align: center;
	background: #e9220d;
	color: #ffffff;
}

.food-imgtext{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.food-imgtext-box{
	width: 860px;
	float: left;
	height: auto;
}

.food-imgtext-box .food-imgtext-nav{
	display: block;
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 2px solid #e8e8e8;
	margin-bottom: 20px;
}

.food-imgtext-box .food-imgtext-nav li{
	font-size: 14px;
	line-height: 28px;
	margin-right: 20px;
	display: block;
	float: left;
}
.food-imgtext-box .food-imgtext-nav li:hover{
	color: #fb8c00;
	cursor: pointer;
}

.food-imgtext-content,.food-comment-quiz{
	width: 860px;
	height: auto;
	overflow: hidden;
}

.food-comment-quiz .food-comment-quiz-div{
	width: 100%;
	border-bottom: 1px #e9e9e9 dashed;
	padding: 10px 0;
	height: auto;
}

.food-comment-quiz .food-comment-quiz-div:first-of-type{
	border: none;
}

.food-comment-quiz .food-comment-quiz-div textarea{
	width: 818px;
	height: 90px;
	resize: none;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 1.6;
	border: 1px solid #e7e7e7;
}

.food-comment-quiz .food-comment-quiz-div button{
	width: 150px;
	height: 40px;
	border: 1px solid #fb8c00;
	background: #fb8c00;
	font-size: 16px;
	color: #ffffff;
	border-radius: 4px;
	margin: 15px 30px 15px 0;
}

.food-comment-quiz .food-comment-quiz-div span{
	color: #9c9c9c;
}

.food-comment-quiz .food-comment-quiz-div p{
	font-size: 14px;
	line-height: 3;
}
.food-comment-quiz .food-comment-quiz-div p:last-of-type{
  line-height: 1.5;	
}

.food-imgtext .food-imgtext-ad{
	width: 300px;
	margin-left: 20px;
	float: left;
	height: auto;
}
