/**
 * Created wangyanqi
 * Date 2017/11/15
 */


/*页头TOP 部分*/

.food-top {
	width: 100%;
	height: 80px;
	background: #white;
}

.food-content {
	width: 1180px;
	height: auto;
	margin: 0 auto;
	background: #fff;
}

.food-top .food-logo {
	width: 260px;
	height: 80px;
	float: left;
}

.food-top .food-logo .food-logo-img {
	float: left;
	height: 64px;
	margin-top: 8px;
	margin-right: 12px;
}

.food-top .food-logo .food-logo-img img {
	height: 100%;
	display: block;
}

.food-top .food-logo .food-logo-text {
	float: left;
	margin-top: 19px;
}

.food-top .food-logo .food-logo-text p {
	font-size: 12px;
	line-height: 24px;
}

.food-top .food-logo .food-logo-text p font {
	color: #e9220d;
}

.food-top .food-logo .food-logo-text a {
	line-height: 14px;
	font-size: 10px;
	color: #9c9c9c;
	display: block;
}

.food-top .food-logo .food-logo-text a img {
	height: 14px;
	vertical-align: middle
}

.food-top .food-nav {
	float: left;
	line-height: 30px;
	font-size: 15px;
	margin-top: 25px;
	margin-left: 150px;
}

.food-top .food-nav li {
	float: left;
	display: block;
	margin-right: 60px;
	position: relative;
}

.food-top .food-nav li a {
	color: #333333;
}

.food-top .food-nav .food-arrow-down {
	width: 10px;
	height: 30px;
	margin-left: 13px;
	display: block;
	float: right;
	transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	-o-transition: all 100ms linear;
}

.food-top .food-nav .food-arrow-down:after {
	content: " ";
	width: 6px;
	height: 6px;
	display: block;
	border-left: 1px solid #444444;
	border-top: 1px solid #444444;
	margin-top: 13.5px;
	margin-left: 50%;
	transform: translate(-50%, 0) rotate(45deg);
	-ms-transform: translate(-50%, 0) rotate(45deg);
	-moz-transform: translate(-50%, 0) rotate(45deg);
	-webkit-transform: translate(-50%, 0) rotate(45deg);
	-o-transform: translate(-50%, 0) rotate(45deg);
}

.food-top .food-nav li:hover a {
	color: #fb8c00;
}

.food-top .food-nav li:hover a .food-arrow-down {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.food-top .food-nav li:hover a .food-arrow-down:after {
	border-left: 1px solid #fb8c00;
	border-top: 1px solid #fb8c00;
}

.food-top .food-nav li:hover .food-drop-down {
	transform: scale(1, 1);
	border: 1px solid #c8c8c8;
}

.food-top .food-nav .food-drop-down {
	width: 120px;
	height: auto;
	position: absolute;
	top: 40px;
	left: 49px;
	border: 1px solid #c8c8c8;
	padding: 10px;
	background: #fff;
	transform: scale(0, 0);
	transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	-o-transition: all 100ms linear;
}

.food-top .food-nav .food-drop-down:after {
	content: " ";
	width: 6px;
	height: 6px;
	display: block;
	border: 1px solid #fff;
	border-left: 1px solid #c8c8c8;
	border-top: 1px solid #c8c8c8;
	background: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	-moz-transform: translate(-50%, -50%) rotate(45deg);
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-o-transform: translate(-50%, -50%) rotate(45deg);
}

.food-top .food-nav .food-drop-down img {
	width: 100%;
	display: block;
}

.food-top .food-nav .food-drop-down span {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	color: #666666;
}

.food-seach{
	width: 170px;
	float: right;
	height: 28px;
	border: 1px solid #343434;
	border-radius: 14px;
	margin-top: 26px;
}

.food-seach input{
	width: 120px;
	margin-left: 14px;
	line-height: 28px;
	font-size: 14px;
	color: #626262;
	border: none;
	outline:none;
	float: left;
}
.food-seach span{
	width: 36px;
	height: 28px;
	float: left;
	display: block;
	background: url(../img/seachMagnifier.png) center;
	background-repeat: no-repeat;
	background-size: 50%;
	cursor: pointer;
}

/*大banner*/
.food-banner {
	width: 100%;
	height: 560px;
	background: #cccccc;
}

/*大标题*/
.food-content-title{
	height: 178px;
	overflow: hidden;
}

.food-content-title p{
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	color: #bfc2c4;
	margin-top: 40px;
}

.food-content-title h2{
	text-align: center;
	font-size: 26px;
	line-height: 52px;
	color: #1d2428;
}

.food-content-title h2 font{
	color: #9ece44;
}

.food-content-title span{
	display: block;
	width: 80px;
	height: 2px;
	margin-top: 22px;
	background: #fb8c00;
	margin-left: 50%;
	transform: translate(-50%);
	-ms-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-o-transform: translate(-50%);
}

/*展示列表*/
.food-list{
	width: 1200px;
	height: auto;
	margin-left: -20px;
	display: block;
	overflow: hidden;
}

.food-list a{
	width: 280px;
	display: block;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px solid #efefef;
	border-radius: 4px;
}
.food-list .food-list-box{
	width: 250px;
	margin: 10px;
}
.food-list a img{
	width: 100%;
	border-radius: 4px;
	display: block;
}
.food-list a .food-list-box h3{
	font-size: 18px;
	line-height: 36px;
	
}
.food-list a .food-list-box h3 span{
	display: block;
	float: right;
	color: #fc9d3f;
	font-weight: 100;
}
.food-list a .food-list-box p{
	font-size: 12px;
	line-height: 24px;
}
.food-list a .food-list-box p font{
	color: #fc9d3f;
}
